<%- include("partials/header"); %>

<%- console.log("currentPage",currentPage, "token",nextToken, "token1",nextToken[1]); %>
<form class="" action="/download" method="post">
  <button type="submit" class="btn btn-lg btn-primary pos-left  mx-1 my-1"name="button">Download</button>
</form>

<table class="table table-striped table-hover">
<thead>
  <tr>
    <th scope="col">Video Title</th>
    <th scope="col">Thumbnail</th>
    <th scope="col">Channel Title</th>
    <th scope="col">Video Description</th>
    <th scope="col">Publish date</th>
    <th scope="col">Video URL</th>
    <th scope="col">Views</th>
    <th scope="col">Likes</th>
    <th scope="col">Comments</th>
    <th scope="col">Channel Description</th>
    <th scope="col">Subscribers</th>
    <th scope="col">Categories</th>
    <th scope="col">Language</th>
    <th scope="col">Tags</th>
    <th scope="col">Duration</th>
  </tr>
</thead>
<tbody>
  <% for(let x=0; x<size;x++){ %>
  <tr>
    <td> <%= videoObject[x]?.snippet?.title || "NaN" %> </td>
    <td><img class="img_result" src="<%= videoObject[x]?.snippet?.thumbnails?.high?.url %>" alt="thumbnail"></td>
    <td><%= channelObject[x]?.snippet?.title || "NaN" %> </td>
    <td><%= videoObject[x]?.snippet?.description || "NaN" %> </td>
    <td><%= videoObject[x]?.snippet.publishedAt || "NaN" %> </td>
    <td><a href="<%= videoUrl + videoIds[0][x]%>"></a> <%= videoUrl + videoIds[0][x]%></td>
    <td><%= videoObject[x]?.statistics.viewCount || "NaN" %></td>
    <td><%= videoObject[x]?.statistics.likeCount || "NaN" %></td>
    <td><%= videoObject[x]?.statistics?.commentCount || "NaN" %></td>
    <td><%= channelObject[x]?.snippet?.description || "NaN" %></td>
    <td><%= channelObject[x]?.statistics?.subscriberCount || "NaN" %></td>
    <td><%= videoObject[x]?.topicDetails?.topicCategories || "NaN"%></td>
    <td><%= videoObject[x]?.snippet?.defaultAudioLanguage || "NaN" %></td>
    <td><%= videoObject[x]?.snippet?.tags || "NaN" %></td>
    <td><%= videoObject[x]?.contentDetails?.duration || "NaN" %></td>
  </tr>
  <% } %>
</tbody>

</table>
<nav aria-label="Page navigation example" class="mx-1">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="/search/<%- nextToken[currentPage-1] %>">Previous</a></li>
      <li  class="page-item"><a class="page-link" href= "/search/<%- nextToken[currentPage+1]%>">Next</a></li>
    </ul>
  <p class="mx-4">Page <%= currentPage+1 %> of <%= nextToken.length %></p>
</nav>







<%- include("partials/footer");  %>
